langchain_community
langchain
python-dotenv
langchain-openai
langchain_core
streamlit
langchain-groq
pypdf
faiss-cpu
transformers
sentence-transformers
wikipedia
gradio 
flet 
textual
requests
azure-ai-inference
re 
fastapi
uvicorn
flask
